static/
__pycache__/
.venv/
output/
test.json
ocr_api_key.json
test.py
ideas.txt
classified/
dataset/
misclassified/
dataset1.pt
models/
d_labels.csv
all_cards.json
model_files/
all_cards_cleaned.json
my_trocr_finetuned/